[Desktop Entry]
Type=Application
Name=GF63 Control
Exec=/usr/bin/gf63-control --background
Icon=preferences-system
Terminal=false
OnlyShowIn=XFCE;KDE;GNOME;
X-GNOME-Autostart-enabled=true
